*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
}
h1{
    text-align: center;
}
.input-div{
    background-color: wheat ;
    display: block;
    margin: 20px auto;
    width: 350px;
    padding: 10px;
    .high-inputs,.inputs{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        input{
            width: 40%;
        }
        .duration,.mission{
            width: 40%;
            input{
                width: 100%;
            }
        }
        button{
            height: 30px;
            width: 30px;
            align-self: flex-end;
            background-image: url("../images/add.png");
            background-size: cover;
        }
        .reset{
            background-image: url("../images/reset.png");
        }
        p{
            margin: 5px;
            margin-left: 0px;
        }
    }
}
.durations{
    width: 350px;
    display: block;
    margin: 20px auto;
    padding: 5px;
    .duration{
        margin: 10px 0;
        width: 100%;
        display: flex;
        min-height: 50px;
        border: 2px solid #000;
        background-color: wheat;
        div{
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
            align-items: center;
        }
        .time{
            border-right: 2px solid #000;
            width: 40%;
        }
        .mission{
            width: 60%;
            min-height: 100%;
            line-height: 20px;
        }
    }
    .skip{
        margin: 10px 0;
        width: 100%;
        display: grid;
        place-items: center;
        min-height: 50px;
        border: 2px solid #000;
        background-color: wheat; 
    }
}